@{
    // Copyright (c) Microsoft Corporation.
    // Licensed under the MIT License.
}

@using System;
@using AxeCore.HTMLReporter.Content;

@{
    var viewModel = Model as AxeCore.HTMLReporter.Models.ReportViewModel;
    var languageDir = viewModel.Language.TextInfo.IsRightToLeft ? "rtl" : "ltr";

    var results = viewModel.Results;
}

<html lang="@viewModel.Language.TwoLetterISOLanguageName" dir="@languageDir">
    <head>
        <title>@Strings.Title</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <style>
            h1 {
                color: blue
            }
        </style>
    </head>
    <body>
        <h1>Hello world</h1>
        <a>@results.Url</a>
    </body>
</html>