name: Build and Validate

on: 
  workflow_call:
    
jobs:
  build-and-validate:
    name: Build and Validate
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
            languages: csharp

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v3

      - name: Install dependencies
        run: dotnet restore

      - name: Check formatting
        run: dotnet format --verify-no-changes

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2

      - name: Test
        run: dotnet test --no-restore --verbosity normal